  <% @projects.each.with_index(1) do |project,index| %>
  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 ">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= index %>
          </th>
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= project.full_name %>
          </th>
          <td class=" sm:py-2 sm:px-2">
            <%= project.status.capitalize %>
          </td>
          <td class="sm:py-2 sm:px-2">
            <%= link_to project.live_url, project.live_url,target: "_blank"%>
          </td>
          <td class="">
            <%=project.user_projects.count%>
          </td>
          <td class="text-xs sm:text-sm md:text-base">
            <%= link_to "See Developers ", "/director_generals/project_users/"+project.id.to_s, class:'bg-blue-400 sm:px-1 sm:py-2 rounded-md hover:bg-slate-500 text-white p-2 lg:py-3'%>
            </td>
            <td class="text-xs sm:text-sm md:text-base">
              <%= link_to "See Details", director_generals_project_path(project), class:'bg-green-700 sm:px-1 sm:py-2 rounded-md hover:bg-slate-500 text-white p-2 lg:py-3'%>
            </td>
            <td class="text-xs sm:text-sm md:text-base">
              <%= link_to "Generate Pdf", director_generals_project_path(project,format: :pdf), class:'bg-purple-400 sm:px-1 sm:py-2 rounded-md hover:bg-slate-500 text-white p-2 lg:py-3'%>
            </td>
            <td class="text-xs sm:text-sm md:text-sm lg:text-sm">
              <%= link_to "Assign Developer", "/director_generals/project_id/"+project.id.to_s, class:'bg-cyan-500 sm:px-1 sm:py-2 rounded-md hover:bg-slate-500 text-white p-2 lg:py-3'%>
            </td>
          </tr>
<%end%>
