<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold text" style="color:blue;"  href="/">
    Rails Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete},class: 'nav-link btn btn-primary mr-5 btn-sm font-weight-bold font-italic' %>
        </li>
        <li>
          <%= link_to 'Update Profile',  edit_user_registration_path, class: 'nav-link btn btn-warning mr-5 btn-sm font-weight-bold font-italic' %>
        </li>
        <li>
          <%= link_to 'Projects',  admins_projects_path, class: 'nav-link btn btn-warning mr-5 btn-sm font-weight-bold font-italic' %>
        </li>
        <li>
          <%= link_to 'Developers',  admins_developers_path, class: 'nav-link btn btn-warning mr-5 btn-sm font-weight-bold font-italic' %>
        </li>
        <li>
          <%= link_to 'Create User',  new_admins_user_path, class: 'nav-link btn btn-warning mr-5 btn-sm font-weight-bold font-italic' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path,  class: 'nav-link btn btn-warning mr-5 btn-sm font-weight-bold font-italic' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Register', new_user_registration_path,  class: 'nav-link btn btn-info btn-sm font-weight-bold font-italic' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
