<div class="m-10">
  <div class="text-center">
    <p class="text-2xl m-10"> Add Personal Information</p>
  </div>
  <%= form_with model:[:admins,@personal_information], class:"px-5" do |f| %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          First Name
        </label>
        <%= f.text_field :first_name, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:first_name).each do |message| %>
          <div class="bg-red-500 p-2 m-2">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Last Name
        </label>
        <%= f.text_field :last_name, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:last_name).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Father Name
        </label>
        <%= f.text_field :father_name, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:father_name).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Date of Birth
        </label>
        <%= f.date_field :date_of_birth,class:"appearance-none block w-full  text-gray-700 rounded py-3 px-4 mb-3 leading-tight  focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:date_of_birth).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%# ---------------------------------------------------------------- second row personal information %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Marital Status
        </label>
        <%= f.select :marital_status, PersonalInformation.marital_statuses.keys,{prompt:"Please Select"},autofocus: true,class:"bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-blue-300 border-2 border-gray-300" %>
        <% @personal_information.errors.full_messages_for(:marital_status).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Spouse Name
        </label>
        <%= f.text_field :spouse_name, autofocus: true, disabled: true,class:"appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Religion
        </label>
        <%= f.select :religion, PersonalInformation.religions.keys,{prompt:"Please Select"},class:"bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-blue-300 border-2 border-gray-300"%>
        <% @personal_information.errors.full_messages_for(:religion).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          CNIC
        </label>
        <%= f.text_field :cnic, autofocus: true,class:"appearance-none block w-full  text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:cnic).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%# ----------------------------------------------------------------------------- third row personal Information %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          CNIC Expiry Date
        </label>
        <%= f.date_field:cnic_expiry_date, autofocus: true,class:"appearance-none block w-full  text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:cnic_expiry_date).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 text-center">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Check if you have disability
        </label>
        <%= f.check_box :disability, autofocus: true,class:"w-4 h-4  rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 border-2 border-purple-600"%>
        <% @personal_information.errors.full_messages_for(:disability).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Disability Type
        </label>
        <%= f.select :disability_type, PersonalInformation.disability_types.keys, {prompt:"Please Select",include_blank: true},disabled: true,class:"border border-gray-300 bg-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
        <% @personal_information.errors.full_messages_for(:disability_type).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Designation
        </label>
        <%= f.text_field :designation, autofocus: true,class:"appearance-none block w-full  text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:designation).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%# ------------------------------------------------- forth row %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Employee Code
        </label>
        <%= f.text_field :employee_code, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:employee_code).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Place of Birth
        </label>
        <%= f.text_field :place_of_birth, autofocus: true,class:"appearance-none block w-full  text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:place_of_birth).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Domicile
        </label>
        <%= f.text_field :domicile, autofocus: true,class:"appearance-none block w-full  text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:domicile).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Nationality
        </label>
        <%= f.text_field :nationality, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:nationality).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%# -------------------------------------------------------------------- fifth row personal Information%>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Passport Number
        </label>
        <%= f.text_field :passport_number, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:passport_number).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Passport Validity Date
        </label>
        <%= f.date_field :passport_validity_date, autofocus: true,class:"appearance-none block w-full  text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:passport_validity_date).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Height (CM)
        </label>
        <%= f.text_field :height, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:height).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <%# --------------------------------------------------- adding contact  attributes %>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Mobile
        </label>
        <%= f.text_field :mobile, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:mobile).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%# ------------------------------------------ %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Residence Phone
        </label>
        <%= f.text_field :residence_phone, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:residence_phone).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Coordinator
        </label>
        <%= f.text_field :coordinator, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:coordinator).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Office Phone
        </label>
        <%= f.text_field :office_phone, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:office_phone).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Official Email
        </label>
        <%= f.text_field :official_email, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:official_email).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%# ----------------- %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Personal Email
        </label>
        <%= f.text_field :personal_email, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:personal_email).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Residence Address
        </label>
        <%= f.text_field :residence_address, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:residence_address).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Permanent Address
        </label>
        <%= f.text_field :permanent_address, autofocus: true,class:"appearance-none block w-full text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-blue-300 border-2 border-gray-300 focus:bg-white"%>
        <% @personal_information.errors.full_messages_for(:permanent_address).each do |message| %>
          <div class="alert bg-danger">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Add Profile Image
        </label>
        <%= f.file_field :profile_image,
        autofocus: true,class:"block w-full text-sm text-gray-900 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"%>
      </div>
    </div>
    <%# ------------------------------------------------------------------------- contact attributes end %>
    <%= f.submit class:'bg-purple-400 rounded-md hover:bg-slate-500 text-white py-3 rounded-2xl my-3 px-3' %>
  <%end%>
</div>
</div>
<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
          <script>
            $(document).ready(function()

            {

                var marriage_status=$("#personal_information_marital_status").val();
                console.log(marriage_status);

                if (marriage_status=="married"){
                  $("#personal_information_spouse_name").prop( "readonly", false );
                }


                if ($("#personal_information_disability").is(":checked")) {
                   $("#personal_information_disability_type").prop( "disabled", false );
                }





               $('#personal_information_marital_status').on("change",function(e){

                   var marital_status=e.target.value;
                   alert(marital_status);

                 if (marital_status=='married'){
                  $("#personal_information_spouse_name").prop( "readonly", false );
                 }
                 else{
                  $("#personal_information_spouse_name").prop( "readonly", true );
                 }
               });



             $('input[type="checkbox"]').click(function(){
                        if($(this).prop("checked") == true){
                          alert("checked");
                             $("#personal_information_disability_type").prop( "disabled", false );
                        }
                        else if($(this).prop("checked") == false){
                           $("#personal_information_disability_type").prop( "disabled", true );
                        }
                    });
















            }
            );
          </script>