<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
<th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%=user.id %>
  </th>
  <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%=user.email %>
  </th>
  <td class="py-4 px-6">
    <%=user.role.name.titleize %>
  </td>
  <td class="py-4 px-6">
    <%=user.confirmed?%>
  </td>
  <td class="py-4 px-6">
    <%=user.technology.name%>
  </td>
  <td class="py-4 px-6">
    <%= link_to "Delete", admins_user_path(user),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},class:"bg-red-500 p-3 rounded-lg text-white"%>
  </td>
</tr>
