<!-- component -->
<link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />




<div style="width:100%;height:auto;background-color:grey;">

 <% if @personal_information.nil?%>
 <p>No Data</p>
 <%else%>
<%= image_tag(@personal_information.profile_image,style:"width:100px;height:100px;")  if @personal_information.profile_image.attached?%>
<p><%= @personal_information.combined_name %><p>
<p><%= @personal_information.employee_code %><p>
<p><%= @personal_information.designation %><p>
<p><%= @contact_information.mobile %><p>
<p><%= @contact_information.official_email %><p>


<p><%= @personal_information.cnic %><p>


<%end%>
</div>













<!-- This is an example component -->
<div class="mx-auto">
    
    <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
        <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Personal Information</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">Education</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Dependents</button>
            </li>
        </ul>
    </div>
    <div id="myTabContent">
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">

           <% if @personal_information.nil?%>
  <p class="my-8"><%= link_to "Add Personal Information", new_admins_personal_information_path,class:'bg-blue-400  p-3 rounded-md hover:bg-slate-500 text-white'%><br><p>
  <%else%>
        <div class="text-center">
  <%= form_with model:[:admins,@personal_information] do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:first_name).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>
    
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:last_name).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

 
    <div class="field">
      <%= f.label :father_name %>
      <%= f.text_field :father_name, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:father_name).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


    <div class="field">
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth%>
      <% @personal_information.errors.full_messages_for(:date_of_birth).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>  
    
     <div class="field">
      <%= f.label :marital_status %>
      <%= f.select :marital_status, PersonalInformation.marital_statuses.keys,prompt: "Please Select",autofocus: true %>
      <% @personal_information.errors.full_messages_for(:marital_status).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

  <div class="field">
      <%= f.label :spouse_name %>
      <%= f.text_field :spouse_name, autofocus: true, disabled: true%>
   
    </div>

      <div class="field">
      <%= f.label :religion %>
      <%= f.select :religion, PersonalInformation.religions.keys,autofocus: true%>
      <% @personal_information.errors.full_messages_for(:religion).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


    <div class="field">
      <%= f.label :cnic %>
      <%= f.text_field :cnic, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:cnic).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


   <div class="field">
      <%= f.label :cnic_expiry_date %>
      <%= f.date_field:cnic_expiry_date, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:cnic_expiry_date).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


        <div class="field">
      <%= f.label :disability %>
      <%= f.check_box :disability, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:disability).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

      <div id="abc">

    </div>


<div class="field">
      <%= f.label :disability_type %>
        <%= f.select :disability_type, PersonalInformation.disability_types.keys, {prompt:"Please Select",include_blank: true},disabled: true%>
      <% @personal_information.errors.full_messages_for(:disability_type).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


<div class="field">
      <%= f.label :designation %>
      <%= f.text_field :designation, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:designation).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

<div class="field">
      <%= f.label :employee_code %>
      <%= f.text_field :employee_code, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:employee_code).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

  <div class="field">
      <%= f.label :place_of_birth %>
      <%= f.text_field :place_of_birth, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:place_of_birth).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


<div class="field">
      <%= f.label :domicile %>
      <%= f.text_field :domicile, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:domicile).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>



<div class="field">
      <%= f.label :nationality %>
      <%= f.text_field :nationality, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:nationality).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


<div class="field">
      <%= f.label :passport_number %>
      <%= f.text_field :passport_number, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:passport_number).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


<div class="field">
      <%= f.label :passport_validity_date %>
      <%= f.date_field :passport_validity_date, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:passport_validity_date).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>







<div class="field">
      <%= f.label :height %>
      <%= f.text_field :height, autofocus: true%>
      <% @personal_information.errors.full_messages_for(:height).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>


<div class="field">
      <%= f.label :profile_image %>
      <%= f.file_field :profile_image, autofocus: true%>
      
    </div>






    <%= f.submit class:'bg-purple-400 rounded-md hover:bg-slate-500 text-white py-3 rounded-2xl my-3 px-3' %>
  <%end%>
</div>

<%end%>





<hr/>
<h3 class="my-8">Contact Information Information</h3>
<% if @contact_information.nil?%>
<p class="my-8"> <%= link_to "Add Contact Information", new_admins_contact_information_path, class:'bg-blue-400  p-3 rounded-md hover:bg-slate-500 text-white'%></p>
<%else%>
<div class="text-center">
  <%= form_with model:[:admins,@contact_information] do |f| %>
    <div class="field">
      <%= f.label :mobile %>
      <%= f.text_field :mobile, autofocus: true%>
      <% @contact_information.errors.full_messages_for(:mobile).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>
    
    <div class="field">
      <%= f.label :residence_phone %>
      <%= f.text_field :residence_phone, autofocus: true%>
      <% @contact_information.errors.full_messages_for(:residence_phone).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :coordinator %>
      <%= f.text_field :coordinator, autofocus: true%>
      <% @contact_information.errors.full_messages_for(:coordinator).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

 <div class="field">
      <%= f.label :office_phone %>
      <%= f.text_field :office_phone, autofocus: true%>
      <% @contact_information.errors.full_messages_for(:office_phone).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

     <div class="field">
      <%= f.label :official_email %>
      <%= f.text_field :official_email, autofocus: true%>
      <% @contact_information.errors.full_messages_for(:official_email).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>



     <div class="field">
      <%= f.label :personal_email %>
      <%= f.text_field :personal_email, autofocus: true%>
      <% @contact_information.errors.full_messages_for(:personal_email).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>



    <div class="field">
      <%= f.label :residence_address %>
      <%= f.text_field :residence_address, autofocus: true%>
      <% @contact_information.errors.full_messages_for(:residence_address).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

     <div class="field">
      <%= f.label :permanent_address %>
      <%= f.text_field :permanent_address, autofocus: true%>
      <% @contact_information.errors.full_messages_for(:permanent_address).each do |message| %>
        <div class="alert bg-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= f.submit class: 'btn btn-success mt-2' %>
  <%end%>
</div>
<%end%>










<hr/>
<p class="my-8"> <%= link_to "Add Emergency Contact", new_admins_emergency_contact_path, class:'bg-blue-400 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%></p>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg my-12">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                   Name
                </th>
                <th scope="col" class="py-3 px-6">
                    Relation
                </th>
                <th scope="col" class="py-3 px-6">
                    Mobile
                </th>
            </tr>
        </thead>
        <tbody id="#abc">
          <% @emergency_contacts.each do |data|%>
      
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= data.name%>
                </th>
                <td class="py-4 px-6">
                <%= data.relation%>
                </td>
                <td class="py-4 px-6">
                 <%= data.mobile%>
                </td>


                <td class="py-4 px-6">
               <%= link_to "Delete", admins_emergency_contact_path(data), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:'bg-red-600 px-5 py-3 rounded-md hover:bg-slate-500 text-white' %> 
                </td>

                <td class="py-4 px-6">
                 <%= link_to "Edit", edit_admins_emergency_contact_path(data),class:'bg-cyan-600 px-5 py-3 rounded-md hover:bg-slate-500 text-white' %>
                 </td>

            <%end%>      
        </tbody>
    </table>
</div>

















        </div>




        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
 <%= link_to "Add Education", new_admins_education_path, class:'bg-green-400 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg my-12">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                   Title
                </th>
                <th scope="col" class="py-3 px-6">
                    Major
                </th>
                <th scope="col" class="py-3 px-6">
                   institute
                </th>

                <th scope="col" class="py-3 px-6">
                  Graduation Date
                </th>
            </tr>
        </thead>
        <tbody id="#abc">
         <% @educations.each do |data|%>
      
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                 <%= data.major%>
                </th>
                <td class="py-4 px-6">
                 <%= data.title%>
                </td>
                <td class="py-4 px-6">
                 <%= data.institute%>
                </td>
                <td class="py-4 px-6">
                   <%= data.graduation_date%>
                </td>

                <td class="py-4 px-6">
                <%= link_to "Delete", admins_education_path(data), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:'bg-purple-400 px-5 py-3 rounded-md hover:bg-slate-500 text-white' %> 
                </td>

                <td class="py-4 px-6">
                 <%= link_to "Edit", edit_admins_education_path(data), class:'bg-cyan-500 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
                 </td>

            </tr>
            <%end%>      
        </tbody>
    </table>
</div>







        </div>

        
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        
           <%= link_to "Add Dependent", new_admins_dependent_path, class:'bg-green-400 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg my-12">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                   Name
                </th>
                <th scope="col" class="py-3 px-6">
                    Residence Phone
                </th>
                <th scope="col" class="py-3 px-6">
                   Mobile
                </th>

                <th scope="col" class="py-3 px-6">
                  Date of birth
                </th>


                <th scope="col" class="py-3 px-6">
                   Address
                </th>
                <th scope="col" class="py-3 px-6">
                    CNIC
                </th>
                <th scope="col" class="py-3 px-6">
                   nationality
                </th>

                <th scope="col" class="py-3 px-6">
                  Action
                </th>



            </tr>
        </thead>
        <tbody id="#abc">
         <% @dependents.each do |data|%>
      
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                 <%= data.name%>
                </th>
                <td class="py-4 px-6">
                 <%= data.phone%>
                </td>
                <td class="py-4 px-6">
                 <%= data.residence_phone%>
                </td>
                <td class="py-4 px-6">
                   <%= data.date_of_birth%>
                </td>

                <td class="py-4 px-6">
                <%= data.address%>
                </td>

                <td class="py-4 px-6">
                 <%= data.cnic%>
                 </td>

                <td class="py-4 px-6">
                 <%= data.nationality%>
                 </td>

                <td class="py-4 px-6">
                 <%= data.action%>
                 </td>

                  <td class="py-4 px-6">
                <%= link_to "Delete", admins_dependent_path(data), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:'bg-purple-400 px-5 py-3 rounded-md hover:bg-slate-500 text-white' %> 
                </td>

                <td class="py-4 px-6">
                 <%= link_to "Edit", edit_admins_dependent_path(data), class:'bg-cyan-500 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
                 </td>

            </tr>
            <%end%>      
        </tbody>
    </table>
</div>









        </div>
        
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
        </div>

    </div>

    

<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
<script>

$(document).ready(function()

{
    
   $('#personal_information_marital_status').on("change",function(e){
   
       var marital_status=e.target.value;
       alert(marital_status);
     
     if (marital_status=='married'){
      $("#personal_information_spouse_name").prop( "disabled", false );
     }
     else{
      $("#personal_information_spouse_name").prop( "disabled", true );
     }
   });


 $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
              alert("checked");
                 $("#personal_information_disability_type").prop( "disabled", false );
            }
            else if($(this).prop("checked") == false){
               $("#personal_information_disability_type").prop( "disabled", true );
            }
        });
















}
);
</script>