<div class="mt-[10rem] mx-5 ">
<div class="w-1/5 text-center">
  <%= form_with do |form| %>
    <%= form.label :"Filter by status" %>
    <%= form.select :status, Project.statuses,{prompt:"Please Select"},autofocus: true,class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  <%end%>
  </div>
  <h1 class="text-center mt-5 my-5 text-4xl"> All Projects </h1>
  <div class="text-center">
    <%= link_to "New Project", new_admins_project_path, class: 'bg-green-900 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
    <%= link_to 'Download as Excel',admins_projects_path(format: :xlsx), class: 'bg-sky-600 px-5 py-3 mx-3 rounded-md hover:bg-slate-500 text-white'%>
    <%= link_to 'Download as Pdf',admins_projects_path(format: :pdf), class: 'bg-purple-700 px-5 py-3 mx-3 rounded-md hover:bg-slate-500 text-white'%>
  </div>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg my-12">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">
            Project Name
          </th>
          <th scope="col" class="py-3 px-6">
            Status
          </th>
          <th scope="col" class="py-3 px-6">
            Live Url
          </th>
          <th scope="col" class="py-3 px-6">
            Total Assigned Developers
          </th>
          <th scope="col" class="py-3 px-6">
            Assigned Developers Details
          </th>
          <th scope="col" class="py-3 px-6">
          </th>
        </tr>
      </thead>
      <tbody id="abc">
        <% @projects.each do |project| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= project.full_name %>
            </th>
            <td class="py-4 px-6">
              <%= project.status %>
            </td>
            <td class="py-4 px-6">
              <%=project.live_url %>
            </td>
            <td class="py-4 px-6">
              <%=project.user_projects.count%>
            </td>
            <td class="py-4 px-6">
              <%= link_to "See Developers ", "/admins/project_users/"+project.id.to_s, class:'bg-blue-400 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
              <td class="py-4 px-6">
                <%= link_to "Details", admins_project_path(project), class:'bg-green-700 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
              </td>
              <td class="py-4 px-6">
                <%= link_to "Details Pdf", admins_project_path(project,format: :pdf), class:'bg-purple-400 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
              </td>
              <td class="py-4 px-6">
                <%= link_to "Assign Developer", "/admins/project_id/"+project.id.to_s, class:'bg-cyan-500 px-5 py-3 rounded-md hover:bg-slate-500 text-white'%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    $(document).ready(function()

    {

       $('select').on("change",function(e){
           var status=e.target.value;
        //    console.log(data_book)
           $.ajax({
            type:"GET",
            url: "/toggleprojects",
            data: {data: status},


            success: function(status){

                console.log("ok"+status);
    },
        error: function(XMLHttpRequest, textStatus, errorThrown){
         console.log(XMLHttpRequest.responseText);
        }
        });

       });
    }
    );
  </script>
