<h1 class="text-center mt-5"> All Projects </h1>
<div class="text-center">
  <%= link_to "New Project", new_admins_project_path, class: 'btn btn-sm btn-success text-center'%>
  <%= link_to 'Download as Excel',admins_projects_path(format: :xlsx), class: 'btn btn-sm btn-secondary'%>
  <%= link_to 'Download as Pdf',admins_projects_path(format: :pdf), class: 'btn btn-sm btn-primary'%>
</div>
<table class="table table-striped mt-1">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Status</th>
      <th>Live Url</th>
    </tr>
  </thead>
  <tbody>
    <div >
      <% @projects.each do |project| %>
        <tr>
          <td>  <%= project.full_name %></td>
          <td>  <%= project.status %></td>
          <td>  <%=project.live_url %></td>
          <td><%= link_to "Details", admins_project_path(project), class: 'btn btn-sm btn-primary'%>  </td>
          <td><%= link_to "Details Pdf", admins_project_path(project,format: :pdf), class: 'btn btn-sm btn-primary'%>  </td>
        </tr>
      <%end%>
    </div>
  </tbody>
</table>
