<div class="flex justify-center items-center mt-[6rem] text-center ">
  <div class="px-5 sm:w-1/3">
    <%= form_with do |form| %>
      <%= form.label :"Filter by status" %>
      <%= form.select :status, Project.statuses,{prompt:"Please Select"},autofocus: true,class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    <%end%>
  </div>
</div>
<%# ---------------------- above is search filter %> 
<div class="sm:flex sm:justify-between mt-5 px-5">
  <div>
    <h1 class="text-2xl text-center"> All Projects </h1>
  </div>

  <div class="text-center mt-2">
    <%= link_to "New Project", new_technical_leads_project_path, class: 'bg-green-900 p-2 sm:p-3 rounded-md hover:bg-slate-500 text-white text-xs sm:text-base'%>
    <%= link_to 'Export Excel',technical_leads_projects_path(format: :xlsx), class: 'bg-sky-600 p-2 sm:p-3  rounded-md hover:bg-slate-500 text-white text-xs sm:text-base'%>
    <%= link_to 'Export Pdf',technical_leads_projects_path(format: :pdf), class: 'bg-purple-700 p-2  sm:p-3 rounded-md hover:bg-slate-500 text-white text-xs sm:text-base'%>
  </div>
</div>

<%# ---------------------------- above is buttons projects %>
<div class="px-5 overflow-x-auto relative shadow-md sm:rounded-lg mt-12">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 text-center">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          Sr.No
        </th>
        <th scope="col" class="py-3 px-6">
          Project Name
        </th>
        <th scope="col" class="py-3 px-6">
          Status
        </th>
        <th scope="col" class="py-3 px-6">
          Live Url
        </th>
        <th scope="col" class="py-3 px-6">
          Total Assigned Developers
        </th>
        <th scope="col" class="py-3 px-6">
          Assigned Developers Details
        </th>
          <th scope="col" class="py-3 px-6">
          Projects Details
        </th>
          <th scope="col" class="py-3 px-6">
           Get Projects PDF
        </th>
          <th scope="col" class="py-3 px-6">
          Assign Developers 
        </th>
      </tr>
    </thead>

    <tbody id="abc">
      <% @projects.each do |project| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= project.id %>
          </th>
          <th scope="row" class=" py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= project.full_name %>
          </th>
          <td class="sm:py-2 sm:px-2">
            <%= project.status %>
          </td>
          <td class="sm:py-2 sm:px-2">
            <%= link_to project.live_url, project.live_url,target: "_blank"%>
          </td>
          <td class="sm:py-2 sm:px-2">
            <%=project.user_projects.count%>
          </td>
          <td class="text-xs sm:text-sm md:text-base">
            <%= link_to "See Developers ", "/technical_leads/project_users/"+project.id.to_s, class:'bg-blue-400 sm:px-1 sm:py-2 rounded-md hover:bg-slate-500 text-white p-2 lg:py-3'%>
            </td>
            <td class="text-xs sm:text-sm md:text-base">
              <%= link_to "See Details", technical_leads_project_path(project), class:'bg-green-700 sm:px-1 p-2 sm:py-2 rounded-md hover:bg-slate-500 text-white lg:py-3'%>
            </td>
            <td class="text-xs sm:text-sm md:text-base">
              <%= link_to "Generate Pdf", technical_leads_project_path(project,format: :pdf), class:'bg-purple-400 sm:px-1 sm:py-2 rounded-md hover:bg-slate-500 text-white p-2 lg:py-3'%>
            </td>
            <td class="text-xs sm:text-sm md:text-sm lg:text-sm">
              <%= link_to "Assign Developer", "/technical_leads/project_id/"+project.id.to_s, class:'bg-cyan-500 sm:px-1 sm:py-2 rounded-md hover:bg-slate-500 text-white p-2 lg:py-3'%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function()

  {

     $('select').on("change",function(e){
         var status=e.target.value;
      //    console.log(data_book)
         $.ajax({
          type:"GET",
         url: "/technical_leads/toggleprojects",
          data: {data: status},


          success: function(status){

              console.log("ok"+status);
  },
      error: function(XMLHttpRequest, textStatus, errorThrown){
       console.log(XMLHttpRequest.responseText);
      }
      });

     });
  }
  );
</script>
