<div class="bg-grey-lighter flex flex-col mt-[10rem]">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <div class="bg-white px-6 py-8 rounded shadow-xl text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Create New User</h1>
      <%= form_with model:[:developers,@user], data:{turbo:false} do |f| %>
        <%= f.collection_select :role_id,Role.where("id <?",current_user.role.id), :id, :capitalize_name, {prompt:"Please Select"},autofocus: true,required:true,class:"mb-2 bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-blue-300 border-2 border-gray-300"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",required:true,class:"form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", placeholder:"Email" %>
        <%= f.collection_select :technology_id, Technology.all,:id,:name,{prompt:"Please Select Technology Stack"},autofocus: true,required:true,class:"mb-[-16px] bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-blue-300 border-2 border-gray-300" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", required:true,class:"form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", placeholder:"Password"%>
        <div class="text-center">
          <%= f.submit class:'bg-purple-400 rounded-md hover:bg-slate-500 text-white py-3 rounded-2xl my-3 px-3' %>
        </div>
      <%end%>
    </div>
  </div>
</div>
