<!DOCTYPE html>
<html>
  <head>
    <title>Project Point </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex justify-between p-3 px-5 bg-blue-200">
      <div class="mb-2 sm:mb-0 flex ">
        <div class="h-10 mr-3">
          <%=image_tag("logo.png",class:"h-10")%>
        </div>
        <div>
          <%= link_to "Project", root_path, class:"text-2xl text-purple-600"%>
          <%= link_to "Point", root_path, class:"text-2xl "%>
        </div>
      </div>
      <div class="pt-2">
        <%= link_to "Sign In", new_session_path(resource_name),class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-8 border border-blue-500 hover:border-transparent rounded" %>
      </div>
    </div>
      <div class="flex justify-center mt-[3rem] w-full" id="outtime" style="position:absolute;z-index:1;">
      <% if notice %>
        <div class="flex p-4 mb-4 bg-red-300 w-1/3 rounded-lg dark:bg-blue-200 " role="alert">
          <p class="text-center"><%= notice %></p>
          <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-blue-100 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex h-8 w-8 dark:bg-blue-200 dark:text-blue-600 dark:hover:bg-blue-300" data-dismiss-target="#alert-1" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </div>
      <%end%>
      <% if alert %>
      <div class="flex justify-center mt-[3rem] w-full" id="outtime" style="position:absolute;z-index:1;">
          <p class="text-center"><%= alert %></p>
          <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-blue-100 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex h-8 w-8 dark:bg-blue-200 dark:text-blue-600 dark:hover:bg-blue-300" data-dismiss-target="#alert-1" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </div>
      <%end%>
    </div>
    <%= yield %>
    <script>
      setTimeout(()=>{
             $('#outtime').hide();
         },3000);
    </script>
  </body>
</html>
