<!DOCTYPE html>
<html>
  <head>
    <title>Project Point </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex justify-between p-3 px-5 bg-blue-200">
      <div class="mb-2 sm:mb-0 flex ">
        <div class="h-10 mr-3">
          <%=image_tag("logo.png",class:"h-10")%>
        </div>
        <div>
          <%= link_to "Project", root_path, class:"text-2xl text-purple-600"%>
          <%= link_to "Point", root_path, class:"text-2xl "%>
        </div>
      </div>
      <div class="pt-2">
        <%= link_to "Sign up", new_registration_path(resource_name),class: 'bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-8 border border-blue-500 hover:border-transparent rounded' %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
