<div class="mt-[10rem] mx-5">
  <div class="flex justify-center items-center mt-[6rem] text-center mb-5">
    <div class="px-5 sm:w-1/3">
      <%= form_with do |form| %>
        <%= form.label :"Filter by Skill" %>
        <%= form.collection_select :id, Skill.all, :id, :name,{prompt:"Please Select"},autofocus: true,class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      <%end%>
    </div>
  </div>
  <div class="flex justify-between">
    <div class="text-center">
      <h1 class="text-2xl">Skills</h1>
    </div>
    <div class="">
      <%= link_to 'Add Skill',  new_admins_skill_path, data:{turbo_frame: "modal"}, class:"text-base bg-green-500 p-3  rounded-md text-white"  %>
    </div>
  </div>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg my-12">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3">
            Sr.No
          </th>
          <th scope="col" class="py-3 ">
            Name
          </th>
          <th scope="col" class="py-3 ">
            See Users
          </th>
          <th scope="col" class="py-3">
          </th>
        </tr>
      </thead>
      <tbody id="abc">
      <% @skills.each.with_index(1) do |skill,index|%>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="py-2 px-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= index %>
          </th>
          <th scope="row" class="py-2 px-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= skill.name %>
          </th>
          <td class="text-xs sm:text-sm md:text-base lg:py-4">
            <%= link_to "See People", "/director_generals/skill_users/"+skill.id.to_s,class:"bg-blue-500 p-2 sm:p-2 rounded-lg text-white lg:p-3"%>
          </td>
          <td class="text-xs sm:text-sm md:text-base lg:py-4">
            <%= link_to "Delete", director_generals_skill_path(skill),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},class:"bg-red-500 p-2 sm:p-2 rounded-lg text-white lg:p-3" %>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function()
  {
  $('select').on("change",function(e){
    var skill=e.target.value;
    $.ajax({
    type:"GET",
    url: "/director_generals/toggleskills",
    data: {skill: skill},
    success: function(data){
    console.log("ok"+data);
  },
  error: function(XMLHttpRequest, textStatus, errorThrown){
    console.log(XMLHttpRequest.responseText);
  }
  });
  });
  }
  );
</script>
