<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPoint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
  <script src="https://cdn.tailwindcss.com"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <% if current_user.role.name==Admin  %>
        <%= render "layouts/Shared/admin_navbar" %>
      <% else %>
        <%= render "layouts/Shared/developer_navbar" %>
      <%end%>
    <%end%>
    <div id="outtime">
    <% if notice %>
      <p class="bg-green-500 text-center"><%= notice %></p>
    <%end%>
    <% if alert %>
      <p class="bg-red-500 text-center"><%= alert %></p>
    <%end%>
    </div>
    <%= yield %>

<script>
 setTimeout(()=>{
        $('#outtime').hide();
    },3000);
</script>

  </body>
</html>

