<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPoint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <% if current_user.role.name==Admin  %>
        <%= render "layouts/Shared/admin_navbar" %>
      <% else %>
        <%= render "layouts/Shared/developer_navbar" %>
      <%end%>
    <%end%>
    <% if notice %>
      <div class="flex justify-center w-full mt-[-5rem]" id="outtime" style="position:absolute;z-index:1;">
        <div class="flex justify-between text-red-200 shadow-inner rounded p-3 bg-green-600 p-5 w-1/3 ">
          <p ><%= notice %></p>
          <strong class="text-xl align-center cursor-pointer alert-del"
          >&times;</strong
         >
        </div>
      </div>
    <%end%>
    <% if alert %>
      <div class="flex justify-center mt-[-5rem] w-full text-center" id="outtime" style="position:absolute;z-index:1;">
        <div class="flex justify-between text-red-200 shadow-inner rounded p-3 bg-red-600 p-5 w-1/3 ">
          <p class=""><%= alert %></p>
          <strong class="text-xl align-center cursor-pointer alert-del"
          >&times;</strong
         >
        </div>
      </div>
    <%end%>
  </div>
  <%= yield %>
  <script>
    setTimeout(()=>{
           $('#outtime').hide();
       },3000);
  </script>
  <script>
    var alert_del = document.querySelectorAll('.alert-del');
    alert_del.forEach((x) =>
      x.addEventListener('click', function () {
        x.parentElement.classList.add('hidden');
      })
    );
  </script>
</body>
</html>
